body {
  margin: 0;
  font-size: 14px;
  font-family: "Press Start 2P", cursive, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Press Start 2P", cursive, sans-serif, monospace;
}
